<div class="flex flex-col items-center py-20 bg-black w-[450px] mx-auto rounded-md">
<h2 class="text-4xl text-amber-500 mb-5">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field w-96 mb-5">
    <%= f.label :username, class: "block" %>
    <%= f.text_field :username, autofocus: true, class: "text-black w-full", required: true %>
  </div>

  <div class="field w-96 mb-5">
    <%= f.label :first_name, class: "block" %>
    <%= f.text_field :first_name, class: "text-black w-full", required: true %>
  </div>

  <div class="field w-96 mb-5">
    <%= f.label :last_name, class: "block" %>
    <%= f.text_field :last_name, class: "text-black w-full", required: true %>
  </div>

  <div class="field w-96 mb-5">
    <%= f.label :email, class: "block" %>
    <%= f.email_field :email, class: "text-black w-full" %>
  </div>

  <div class="field w-96 mb-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "text-black w-full" %>
  </div>

  <div class="field mb-5">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "text-black w-full" %>
  </div>

  <div class="actions text-right">
    <%= f.submit "Sign up", class: "bg-amber-500 p-3 rounded-md cursor-pointer hover:text-black" %>
  </div>
<% end %>
  <div class="mt-5 w-96 text-sm">
    <%= render "devise/shared/links" %>
  </div>
</div>
