<h1>Sell Assets</h1>
<ul>
    <li><%= @company_name %></li>
    <li><%= @asset.asset_name %></li>
    <li><%= @asset.total_shares %></li>
</ul>
<%= form_with model: @transaction, url: sell_index_path do |form| %>
    <%= form.hidden_field :asset_id, value: @asset.id %>
    <%= form.hidden_field :company_name, value: @company_name %>
    <%= form.hidden_field :asset_name, value: @asset.asset_name %>
    <%= form.hidden_field :asset_price, value: @latest_price %>
    <%= form.label :shares, "Shares:" %>
    <%= form.text_field :shares %>
    <%= form.submit "Sell Assets" %>
<% end %>