<h1>Transactions</h1>
<%= link_to 'Home', root_path %>
<%= link_to 'My portfolio', asset_index_path %>

<% if @transactions.count == 0 %>
    <div> There's nothing here </div>
<% end %>

<% @transactions.each do |transaction| %>
    <ul>
        <li>User Id: <%= transaction.user_id %></li>
        <li>Company Name: <%= transaction.company_name %></li>
        <li>Asset Name: <%= transaction.asset_name %></li>
        <li>Asset Price: <%= transaction.asset_price %></li>
        <li>Shares: <%= transaction.shares %></li>
        <li>Transaction Type: <%= transaction.transaction_type %></li>
        <li>Total: <%= transaction.asset_price * transaction.shares %></li>
        <li>User email: <%= transaction.user_email %></li>
    </ul>
    <%= link_to 'Delete transaction', transaction_path(transaction.id), method: :delete, data: {confirm: 'Continue to delete this transaction?'} %>
<% end %>