<h1>Dashboard</h1>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

<% if current_user.admin? %>
  <%= link_to "Back to admin home", admin_users_path %>
<% end %>

<div>
<%= @user.email %>
<br>
<%= @user.approved %>
</div>

<%= link_to "Add Asset", new_asset_path %>
<%= link_to "My portfolio", asset_index_path %>
<%= link_to "Transaction history", transaction_index_path %>

<div>
  <%= link_to 'Edit your info', edit_user_path(current_user) %>
  <%= link_to 'Edit balance', edit_user_money_path(current_user) %>
</div>
<br>
<br>

<div>
  <%= @user.money %>
</div>

<div>
  <h2>Microsoft</h2>
  <%= @microsoft %>
  <h2>Meta</h2>
  <%= @facebook %>
  <h2>Amazon</h2>
  <%= @amazon %>
  <h2>Apple</h2>
  <%= @apple %>
  <h2>Netflix</h2>
  <%= @netflix %>
  <h2>Alphabet</h2>
  <%= @alphabet %>
  <h2>Jollibee</h2>
  <%= @jollibee %>
</div>