
<% if current_user.admin? %>
<%= link_to "Back to admin home", admin_users_path %>
<% end %>

<div class="col-span-4 flex justify-between items-end pb-3">
  <h1 class="text-4xl text-amber-500">Dashboard</h1>
  <%= link_to "+ Add Asset", new_asset_path, class: "text-amber-500" %>
</div>
<div class="grid grid-cols-4 gap-5">
  <div class="col-span-2 bg-black rounded-md p-4 drop-shadow h-64 flex flex-col justify-between">
      <h6>Welcome, <%= @user.email %>!</h6>
      <p class="text-7xl text-center"><%=Time.now.strftime("%I:%M %p") %></p>
      <p class="text-3xl text-right"><%= Date.current.strftime("%B %d, %Y") %></p>
  </div>
  <div class="col-span-2 bg-black rounded-md p-4 drop-shadow h-64 flex flex-col justify-between">
    <p>Balance:</p>
    <p class="text-7xl text-center">$<%= number_with_precision(@user.money, precision: 2, delimiter: ",") %></p>
    <%= link_to 'Edit balance', edit_user_money_path(current_user), :class => "block text-xl text-right" %>
  </div>
  <h2 class="col-span-4">Popular Assets</h2>
  <div class="col-span-1 bg-black rounded-md p-4 drop-shadow h-48">
    <h2>Microsoft</h2>
    <%= @microsoft %>
  </div>
  <div class="col-span-1 bg-black rounded-md p-4 drop-shadow h-48">
    <h2>Meta</h2>
    <%= @facebook %>
  </div>
  <div class="col-span-1 bg-black rounded-md p-4 drop-shadow h-48">
    <h2>Amazon</h2>
    <%= @amazon %>
  </div>
  <div class="col-span-1 bg-black rounded-md p-4 drop-shadow h-48">
    <h2>Jollibee</h2>
    <%= @jollibee %>
  </div>  
</div>