<h1>Dashboard</h1>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

<div>
<%= @user.email %>
<br>
<%= @user.approved %>
</div>

<%= link_to "Add Asset", 'asset/new' %>

<div>
  <h2>Microsoft</h2>
  <%= @microsoft %>
  <h2>Meta</h2>
  <%= @facebook %>
  <h2>Amazon</h2>
  <%= @amazon %>
  <h2>Apple</h2>
  <%= @apple %>
  <h2>Netflix</h2>
  <%= @netflix %>
  <h2>Alphabet</h2>
  <%= @alphabet %>
  <h2>Jollibee</h2>
  <%= @jollibee %>
</div>