<div class="flex flex-col items-center py-20 bg-black w-[450px] mx-auto rounded-md">
  <h2 class="text-4xl text-amber-500 mb-5">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field w-96 mb-5">
      <%= f.label :email, class: "block" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-black w-full" %>
    </div>

    <div class="field w-96 mb-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "text-black w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions text-right">
      <%= f.submit "Log in", class: "bg-amber-500 p-3 rounded-md cursor-pointer hover:text-black" %>
    </div>
  <% end %>
  <div class="mt-5 w-96 text-sm">
    <%= render "devise/shared/links" %>
  </div>
</div>
