<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>
<%= link_to 'Home', root_path %>

<%= form_with model: @user, url: user_money_path do |form| %>
  <div>
    <%= form.label "Balance" %>
    <br>
    <%= form.number_field :money, step: :any %>
  </div>

  <div>
    <%= form.submit "Update balance" %>
  </div>
<% end %>