<div class="col-span-4 flex justify-between items-end pb-3">
  <h1 class="text-4xl text-amber-500">Add Assets</h1>
  <%= link_to 'Asset Symbol reference 🠮', "https://iextrading.com/trading/eligible-symbols/", target: '_blank', class: 'text-[#ff5e00]' %>
</div>
<div class="grid grid-cols-4 gap-5">
  <div class="col-span-2 bg-black rounded-md p-4 drop-shadow h-64 flex flex-col justify-between">
    <%= form_with model: @asset, url: asset_index_path, class: "flex flex-col justify-between gap-3" do |form| %>
        <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.label :name, "Asset Symbol:", class: "text-lg" %>
          <%= form.text_field :asset_name, class: "text-black rounded-md" %>
        <%= form.submit "Add", class: "bg-amber-500 self-end p-3 rounded-md cursor-pointer hover:text-black" %>
    <% end %>
  </div>
  <div class="col-span-2 bg-black rounded-md p-4 drop-shadow h-64 flex flex-col justify-between">
    <p>Balance:</p>
    <p class="text-7xl text-center">$<%= number_with_precision(current_user.money, precision: 2, delimiter: ",").truncate(12) %></p>
    <%= link_to 'Edit balance', edit_user_money_path(current_user), :class => "block text-xl text-right" %>
  </div>
  <h2 class="col-span-4 text-3xl text-amber-500">10 Most Active Assets</h2>
  <% @assets.each do |asset| %>
    <div class="col-span-1 bg-black rounded-md p-4 drop-shadow h-48">
      <h2 class="text-xl"><%= asset.company_name %></h2>
      <h3 class="text-amber-500"> <%= asset.symbol %> </h3>
      <h6>Latest Price: <%= asset.latest_price %></h6>
    </div>
  <% end %>
</div>