<h1>Add Asset</h1>
<%= form_with model: @asset, url: asset_index_path do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.label :name, "Search:" %>
    <%= form.text_field :asset_name %>
    <%= form.submit "Search" %>
<% end %>