<h1>Show</h1>
<h2><%= @asset.asset_name %></h2>
<h2><%=  @asset_company_name %></h2>
<h2><%= @asset_price %></h2>
<h2><%= @asset.total_shares %></h2>
<%= link_to 'Buy Assets', new_transaction_path(@asset.asset_name) %>
<% if @asset.total_shares > 0 %>
    <%= link_to 'Sell Assets', new_sell_path(@asset.asset_name) %>
<% end %>