<h1>Show</h1>
<%= link_to 'Back to portfolio', asset_index_path %>
<h2><%= @asset.asset_name %></h2>
<h2><%=  @asset_company_name %></h2>
<h2><%= @asset_price %></h2>
<h2><%= @asset.total_shares %></h2>
<%= link_to 'Buy Shares', new_transaction_path(@asset.asset_name) %>
<% if @asset.total_shares > 0 %>
    <%= link_to 'Sell Shares', new_sell_path(@asset.asset_name) %>
<% end %>
<%= link_to 'Remove asset', asset_path(@asset.asset_name), method: :delete, data: {confirm: "Continue to remove this asset?"} %>