<div class="flex justify-between mb-5 items-end">
    <h2 class="text-4xl text-amber-500">All Transactions</h2>
    <%= search_form_for @q, url: admin_transactions_path do |form| %>
        <div>
            <%= form.label "Search:" %>
            <%= form.search_field :user_email_or_company_name_or_asset_name_or_transaction_type_i_cont, class: "text-black rounded-lg w-98 py-2 w-96", placeholder: "company name, asset name, or type" %>
            <%= form.submit name: '', class: "bg-amber-500 p-2 rounded" %>
        </div>
    <% end %>
</div>
<div>
    <% if @transactions.count == 0 %>
        <div> There's nothing here </div>
    <% end %>
    <table class="bg-black w-full table-auto rounded-lg">
        <thead class="text-left border-b">
            <tr>
                <th class="py-1 px-2"> <%= sort_link(@q, :user_email, "User Email", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :created_at, "Date", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :company_name, "Company Name", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :asset_name, "Asset Name", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :asset_price, "Asset Price", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :shares, "Shares", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :transaction_total, "Total", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :transaction_type, "Type", default_order: :asc) %> </th>
            </tr>
        </thead>
        <tbody>
            <% @transactions.each do |transaction| %>
                <tr>
                    <td class="py-1 px-2"> <%= link_to transaction.user_email.truncate(15), admin_user_path(transaction.user_id), target: "_blank", class: "p-1 bg-amber-500  rounded-md" %> </td> 
                    <td class="py-1 px-2"> <%= transaction.created_at.localtime.strftime('%-B %-d, %Y - %-l%p') %> </td> 
                    <td class="py-1 px-2"> <%= transaction.company_name %> </td> 
                    <td class="py-1 px-2"> <%= transaction.asset_name %> </td> 
                    <td class="py-1 px-2"> <%= transaction.asset_price %> </td> 
                    <td class="py-1 px-2"> <%= transaction.shares %> </td> 
                    <td class="py-1 px-2"> <%= transaction.transaction_total.to_d.truncate(2) %> </td>
                    <td class="py-1 px-2"> <%= transaction.transaction_type %> </td> 
                </tr>
            <% end %>
        </tbody>
    </table>
</div>