<div class="text-4xl text-amber-500">Trader Profile </div>

<div class="bg-black p-3 rounded-md">
  <h2 class="text-3xl font-bold"> <%= @trader.email %> </h2>
  <div class="text-2xl">Username: <%= @trader.username %> </div>
  <div class="text-2xl">Name: <%= @trader.first_name %> <%= @trader.last_name %> </div>
  <div class="text-2xl">Balance: <%= @trader.money %> </div>
  <div class="text-2xl">Status: <%= @trader.approved_status %> </div>
  <%= form_with model: [:admin, @trader] do |form| %>
    <div>
      <%= form.check_box :approved, onchange: "this.form.submit();" %>
      <% if @trader.approved? %>
        <span> This trader is approved. </span>
      <% else %>
        <span> Approve this trader? </span>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Edit details", edit_admin_user_path, class: "bg-amber-500 p-2 inline-block rounded-md mt-5" %>
</div>
<div class="text-2xl text-amber-500">Trader Transactions</div>
<div class="bg-black p-3 rounded-md">
  <table class="bg-black w-full table-auto rounded-lg">
        <thead class="text-left border-b">
            <tr>
                <th class="py-1 px-2"> <%= sort_link(@q, :created_at, "Date", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :company_name, "Company Name", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :asset_name, "Asset Name", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :asset_price, "Asset Price", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :shares, "Shares", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :transaction_total, "Total", default_order: :asc) %> </th>
                <th class="py-1 px-2"> <%= sort_link(@q, :transaction_type, "Type", default_order: :asc) %> </th>
            </tr>
        </thead>
        <tbody>
            <% @transactions.each do |transaction| %>
                <tr>
                    <td class="py-1 px-2"> <%= transaction.created_at.localtime.strftime('%-B %-d, %Y - %-l%p') %> </td> 
                    <td class="py-1 px-2"> <%= transaction.company_name %> </td> 
                    <td class="py-1 px-2"> <%= transaction.asset_name %> </td> 
                    <td class="py-1 px-2"> <%= transaction.asset_price %> </td> 
                    <td class="py-1 px-2"> <%= transaction.shares %> </td> 
                    <td class="py-1 px-2"> <%= transaction.transaction_total.to_d.truncate(2) %> </td>
                    <td class="py-1 px-2"> <%= transaction.transaction_type %> </td> 
                </tr>
            <% end %>
            <% if @transactions.count == 0 %>
              <tr>
                <td class="p-3 text-left"> No records yet </td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>
